$background: hsl(225, 15, 5, 100%);
$primary: hsl(198, 66, 82, 100%);
$secondary: hsl(240, 1, 77, 100%);
$text-primary: hsl(0, 0, 100, 100%);
$text-secondary: hsl(240, 1, 77, 100%);
$highlight: hsl(198, 66, 82, 100%);
$light-grey: rgb(183, 183, 183);
$medium-grey: rgb(103, 103, 103);
$dark-grey: rgb(38, 38, 38);
